.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form {
    background: #fff;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 350px;
    border-radius: 5px;
    min-width: 300px;
}

form .input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    background: #eaeaea;
    margin-top: 15px;
    border-radius: 3px;
}

form .input-field ion-icon {
    fill: #999;
    margin-left: 15px;
    font-size: 1.5rem;
}

form .input-field textarea {
    font-size: 1rem;
    border: 0;
    outline: 0;
    background: transparent;
    color: #999;
    width: 250px;
    padding: 15px;
    color: black;
    font-weight: 500;
    resize: none;
    max-height: 330px;
    /* height: 60px; */
    height: 25px;
}

form button {
    margin-top: 30px;
    border: 0;
    outline: 0;
    background: var(--blue);
    color: white;
    width: 115px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.05rem;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 600;
    cursor: pointer;
}

form h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 15px;
}

form .error-box {
    background: #e8aeae;
    border: 1px solid red;
    padding: 8px 10px;
    color: #1b1b1b;
    font-size: 1.1rem;
    margin: 15px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 2px;
    display: none;
}